@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.heading{
  display: flex;
  background-color: #ffc107;
  position: relative;
  padding: 13px;
  border-bottom-left-radius: 10px;  
  border-bottom-right-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.transition {
  height: 80px; /* smoother transition */
  background: linear-gradient(to bottom, #ffc107, #f16581);
}

.body-content {
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f16581;
  padding: 30px;
}

.app-header{
  position: relative;
  bottom: 345px;
  right: 190px;

}

.container {
  position: relative;
  max-width: 850px;
  width: 100%;
  background: #fff;
  padding: 85px 65px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}

.container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.container .cover .text {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .cover .text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #f16581;
}

.cover .text .text-1,
.cover .text .text-2 {
  z-index: 20;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .text .text-2 {
  font-size: 15px;
  font-weight: 500;
}

.container .form {
  height: 100%;
  width: 100%;
  background: #fff;
}

.container .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box i {
  position: absolute;
  color: #f16581;
  font-size: 17px;
}
.forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}

.form .form-content .login-form .title{
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

footer{
  display: flex;
  justify-content: center;
  background-color: #f16581;
  padding: 10px;
}


@media (max-width: 576px) {
  
}
